<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.project1.example.mapper.SurveyMapper">
	<select id="getsurveylist" resultType="Survey">
			SELECT s_idx as sId,
					                 s_title as sTitle,
					                 s_description as sDescription,
					                 s_writer as sWriter,
					                 s_datetime as sDatetime
		      FROM            lc_survey
			  ORDER BY  sId DESC
	</select>
	
	<insert id="insertSurvey" parameterType="Survey">
	<selectKey keyProperty="getNext" resultType="int" order="BEFORE">
	  	SELECT MAX(s_idx)+1 s_idx
		FROM lc_survey
	</selectKey>
		INSERT INTO lc_survey(
					s_idx,
					s_title,
					s_description,
					s_writer
					)
		VALUES (
		       #{getNext},
				#{sTitle},
				#{sDescription},
				#{sWriter}
				)
	</insert>
	<insert id="insertQuestions" parameterType="Question">
		INSERT INTO lc_question(
					s_idx,
					t,
					q
					)
		VALUES (
				(select s_idx FROM lc_survey ORDER BY s_idx DESC  LIMIT 1),
				#{t},
				#{q}
				)
	</insert>
	<insert id="insertAnswers" parameterType="Answer">  
	        INSERT INTO	lc_answer (
	        	a,
	   			q_idx
	      ) VALUES 
	      		(#{answer},
	      		(select q_idx FROM lc_question ORDER BY  q_idx DESC  LIMIT 1)
	      		)
	</insert>
	
	<select id="getSurveyDetail" parameterType="Integer" resultType="Survey">
		SELECT 					     s_idx as sId,
					                 s_title as sTitle,
					                 s_description as sDescription,
					                 s_writer as sWriter,
					                 s_datetime as sDatetime
		      FROM lc_survey WHERE s_idx = #{sId}
	</select>
	<select id="getQuestionDetail" parameterType="Integer" resultType="Question">
		SELECT q_idx as qId,
			   s_idx as sId,
			   q as q,
			   t as t
		
		
		FROM lc_question WHERE s_idx = #{sId}
	</select>
	<select id="getAnswerDetail" parameterType="Integer" resultType="Answer">
		SELECT a as answer, q_idx, a_idx FROM lc_answer WHERE q_idx = #{qId}
	</select>
	
	<insert id="insertSubmission" parameterType="Submission">
		INSERT INTO vue_submission(
					s_idx
		) VALUES (
				#{sId}
				)
	</insert>
	<insert id="insertResponse" parameterType="Response">
		INSERT INTO vue_response(
					sub_idx,
					q_idx,
					t
		) VALUES (
				(select sub_idx FROM vue_submission ORDER BY 	 sub_idx DESC  LIMIT 1),
				#{qId},
				#{t}
				)
	</insert>
	<insert id="insertReAnswer" parameterType="map">
		INSERT INTO vue_reanswers(
					s_idx,
					q_idx,
					r_idx,
					a
		) VALUES (
				#{sId},
				#{qId},
				(select r_idx FROM vue_response ORDER BY 	 r_idx DESC  LIMIT 1),
				#{a}
				)
	</insert>
	
	<select id="getResultQuestion" parameterType="Integer" resultType="Question">
		SELECT q_idx, t, q  FROM lc_question WHERE s_idx = #{sId}
	</select>
	
	<select id="getResultAnswers" parameterType="map" resultType="String">
		SELECT a FROM vue_reanswers WHERE s_idx = #{sId} AND q_idx = #{qId}  GROUP BY a
	</select>
	<select id="getResultAnswersCount" parameterType="map" resultType="Integer">
		SELECT COUNT(a) AS aCount FROM vue_reanswers WHERE s_idx = #{sId} AND q_idx = #{qId}  GROUP BY a
	</select>
	
	<select id="getqId" parameterType="Integer" resultType="Integer">
		SELECT q_idx FROM lc_question WHERE s_idx = #{sId}
	</select>
	
	<select id="getSubid" parameterType="Integer" resultType="Integer">
		SELECT sub_idx FROM vue_submission WHERE s_idx = #{sId}
	</select>
	
	<delete id="deleteSurvey" parameterType="Integer">
		DELETE FROM lc_survey WHERE s_idx = #{sId}
	</delete>
	
	<delete id="deleteAnswers" parameterType="Integer">
		DELETE FROM lc_answer WHERE q_idx = #{qId}
	</delete>
	
	<delete id="deleteQuestions" parameterType="Integer">
		DELETE FROM lc_question WHERE s_idx = #{sId}
	</delete>

	<delete id="deleteReAnswers" parameterType="Integer">
		DELETE FROM vue_reanswers WHERE s_idx = #{sId}
	</delete>

	<delete id="deleteSubmission" parameterType="Integer">
		DELETE FROM vue_submission WHERE s_idx = #{sId}
	</delete>

	<delete id="deleteResponse" parameterType="Integer">
		DELETE FROM vue_response WHERE sub_num = #{s_}
	</delete>
</mapper>